[submodule "autoaim_predictors"]
	path = autoaim_predictors
	url = https://e.coding.net/swjtuhelios/cv/autoaim_predictors.git
[submodule "autoaim_detectors"]
	path = autoaim_detectors
	url = https://e.coding.net/swjtuhelios/cv/autoaim_detectors.git
